<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="style.css">
</head>
<div id="container">
  <div id="content">
    <div id="about">
      <h1>
        <div style='float:left; margin-bottom:20px;'>
          Bill Tracker
        </div>
        <div class="stage">
          <div class="pyramid3d">
            <div class="triangle side1"></div>
            <div class="triangle side2"></div>
            <div class="triangle side3"></div>
            <div class="triangle side4"></div>
          </div>
        </div> 
      </h1>
      <h3 style='clear:both' class="subhead">
        <a href="https://plus.google.com/108495471566196018473/posts">Bill Tracker</a> Less paper. More time for your customers.
 
      </h3>
      <p id='pleft'>
         <a href="https://css-tricks.com/css-animation-tricks/"></a> <a href="https://css-tricks.com/controlling-css-animations-transitions-javascript/"></a> <a href="http://deltadatasoft.com/">One integrated platform</a> Automate payments from start to finish by connecting your payment accounts and accounting tools in one place.


      <p id='pright'>
       Connect with millions of vendors over the Bill.com network and easily pay how you want—via ACH, credit card, virtual card, check, and international wire transfers.

 &amp; Easy payements <a href="https://codepen.io/Zeaklous">Extend you payement methods</a>, <a href="http://stackoverflow.com/users/2065702/zeaklous"></a>, <a href="https://cssdeck.com/user/Zeaklous"></a>
      </p>
      <ul>
        <li><a href="https://cssdeck.com/labs/css-only-full-page-slider">1</a></li>
        <li><a href="https://codepen.io/Zeaklous/pen/alpEm">2</a></li>
        <li><a href="https://zachsaucier.com/TumblrBook.html">3</a></li>
      </ul>
      <p>
       Feel free to email us at billtracker@gmail.com
      </p>
    </div>
  </div>
</div>