<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert New or Edit Bill</title>
</head>
<body>

	<form action = "../savebill" method=POST>
	
		Customer Name: <input name="Name" size="20" ><br />
		Customer Phone Number: <input placeholder="###-###-####" name="contactNumber" size="20" ><br />
		Total Due: <input name="total" size="20" ><br />
		Tax Rate: <input name="tax" placeholder="0.07" size="20" ><br />
		Due Date: <input name="dueDate" size="20" ><br />
		Bill Description: <input name="desc" size="20" ><br />
		
		<input name="Submit" type="submit" value="submit" />
	</form>
	
	<a href="../viewAll">View All Bills</a> <!-- should only return proper information for the person entering the bill i.e. employee or manager -->

</body>
</html>