<!DOCTYPE html>
<html>
<head>
<link href="style.css" rel="stylesheet">
<meta charset="UTF-8">
<title>Manager Menu</title>
</head>
<body>
	<h1> Manager Menu</h1>
	<input type="button" onclick="location.href='../viewAll';" value="View All Open Bills"/> <br>
	<input type="button" onclick="location.href='../viewAllUnpaid';" value="View Unpaid Bills"/> <br>
	<input type="button" onclick="location.href='../viewManagerApproval';" value="Approve Bills"/> <br>
	<input type="button" onclick="location.href='../inputBill';" value="Add New Bill"/> <br>
	<input type="button" onclick="location.href='..//inputEmp';" value="Add New Employee"/> <br>
	<input type="button" onclick="location.href='../viewAllEmp';" value="Add New Bill"/> <br>
	<input type="button" onclick="location.href='../loginScreen';" value="Logout"/>
</body>
</html>